# ----------------------------------------------------
# macOS
# ----------------------------------------------------
.DS_Store

# ----------------------------------------------------
# Node.js
# ----------------------------------------------------
node_modules/
npm-debug.log
yarn-error.log
package-lock.json
yarn.lock

# ----------------------------------------------------
# Environment Files
# ----------------------------------------------------
.env
.env.local
.env.*.local

# ----------------------------------------------------
# Metro Bundler
# ----------------------------------------------------
.metro/
.metro-health-check*
*.log

# ----------------------------------------------------
# Watchman / Cache
# ----------------------------------------------------
watchman/
tmp/
cache/

# ----------------------------------------------------
# iOS
# ----------------------------------------------------
ios/Pods/
ios/build/
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData/
*.hmap
*.ipa
*.xcuserstate
**/.xcode.env.local

# ----------------------------------------------------
# Android
# ----------------------------------------------------
android/.gradle/
android/app/build/
android/build/
.gradle/
local.properties
*.iml
*.hprof
.cxx/
*.keystore
!debug.keystore
.kotlin/

# ----------------------------------------------------
# Fastlane
# ----------------------------------------------------
**/fastlane/report.xml
**/fastlane/Preview.html
**/fastlane/screenshots
**/fastlane/test_output

# ----------------------------------------------------
# Ruby / CocoaPods
# ----------------------------------------------------
**/Pods/
vendor/bundle/

# ----------------------------------------------------
# Yarn
# ----------------------------------------------------
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# ----------------------------------------------------
# Bundles / JS build
# ----------------------------------------------------
*.jsbundle
dist/
bundle/

# ----------------------------------------------------
# Testing
# ----------------------------------------------------
coverage/
jest/

# ----------------------------------------------------
# VSCode & IDE
# ----------------------------------------------------
.vscode/
.idea/
*.swp

# ----------------------------------------------------
# Misc
# ----------------------------------------------------
.expo/
.expo-shared/
